body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    background-image: url(guggolás.png);
    /* border-radius: 5px; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: auto;
   /*  max-width: 600px; */
    padding: 10px;
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    /* position: fixed; */
}

#container h1 {
    color: white;
    font-size: 70px;
    text-align: left;
    flex: 1;
    font-weight: bolder;
    /* font-style: italic; */
    font-family: Helvetica, sans-serif;
    padding: auto;
    text-indent: 50px;
}

#container #MERSZ {
    height: 100px;
    float: right;
    /* height: auto; */
    flex-direction: column;
    margin-top: 30px;
    margin-right: 30px;
} 

#container #LIGA {
    height: 100px;
    float: right;
    /* height: auto; */
    padding-right: 50px;
    margin-top: 30px;
}

#container2 {
    background-color: gray;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 20px;
}

#container2 a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#container2 div {
    background-color: black;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
}

#SQUAT {
    margin-left: 50px;
}

#container3 {
    padding: 0 40px 0 40px;
}

#container3 #ball img {
    width: auto;
    height: 300px;
    margin-left: 30px;

}

#container3 p {
    font-size: 25px;
    margin-bottom: 20px;
    text-align: justify;
    line-height: 1.5;
}

#container3 h2 {
    font-size: 45px;
    margin-bottom: 10px;
}

#ball {
    display: flex; 
    align-items: center; 
}

#jobb {
    display: flex; 
    align-items: center; 
}

#container3 #jobb img {
    width: auto;
    height: 250px;
    margin-right: 30px;
    margin-top: 30px;

}

ul li {
    font-size: 25px;
    margin-bottom: 10px;
    text-align: justify;
    line-height: 1.5;
}

#idg {
   padding-bottom: 30px;
}